{% extends 'base.html' %}

{% block head %}
<title>Piper | Login</title>
{% endblock %}
{% block message %}{% endblock %}

{% block body %}
<div class="container">
    <div class="mx-auto text-center" style="width:300px">
    <h3 class="pt-3">Login to Piper Inc.</h3>
    <div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-danger text-center" role="alert">{{ message }}</p>
    {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    <form class="boxc" action='/login/' method='POST'>
        {{ form.csrf_token() }}

        {{ form.username() }}
        {% for error in form.username.errors %}
        {{ error }}
        {% endfor %}

        {{ form.password() }}
        {% for error in form.password.errors %}
        {{ error }}
        {% endfor %}
        <br>
        <button class="form-control btn btn-primary btn-md" type="submit">Login</button>
        <br>

    </form>
        </div>
</div>

{% endblock %}